body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: blueviolet;
    text-decoration: none;
}

 a:focus, a:hover {
    color: blue;
    text-decoration: underline;
 }

